name: "Pull request analysis"
on: [pull_request]

env:
  maven_cli_args: -Dgib.d=true -Dgib.rb=origin/${{ github.base_ref }} --batch-mode --fail-at-end --threads 1C

jobs:
  unit-test:
    name: Unit Test java ${{ matrix.java-version }}
    timeout-minutes: 10
    runs-on: ubuntu-latest
    matrix:
      java-version: [ 17, 18 ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: 'maven'
      - name: Test pull request changes modules
        run: mvn ${{ env.maven_cli_args }} clean test
      - name: Clean workspace
        uses: docker://centos
        if: ${{ always() }}
        continue-on-error: true
        with:
          args: "/bin/rm /github/workspace -rf"